<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">  
<suite name="Google Suite" verbose="1" thread-count="1" parallel="tests" configfailurepolicy="continue">  
	 <test name="Google UI automation">  
		 <classes>
			 <class name="com.nttd.automation.bdd.common.TestRunner">  
			</class>
		</classes>
	</test>
</suite>